footer {
    background-color: #f8f9fa; 
    text-align: center;       
    padding: 10px 0;          
    position: fixed;         
    bottom: 0;           
    width: 100%;             
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
  
    p {
      font-family: 'Poppins', sans-serif; 
      font-size: 14px;                  
      color: #5d0404;                      
      margin: 0;                        
    }
  }
  